{% extends "base.html" %}

{% block content %}
<form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}

    {{ form.title.label }}<br>
    {{ form.title }}
    <br>
    {{ form.slug.label }}<br>
    {{ form.slug(disabled=True) }}
    <br>
    {{ form.description.label }}<br>
    {{ form.description }}
    <br>
    {{ form.ingredients.label }}<br>
    {% for nested in form.ingredients %}<br>
        {{ nested }}
    {% endfor %}
    {{ form.add_ingredient }}
    <br>
    {{ form.steps.label }}<br>
    {% for nested in form.steps %}<br>
        {{ nested }}
    {% endfor %}
    {{ form.add_step }}
    <br>
    {{ form.tags.label }}<br>
    {% for nested in form.tags %}<br>
        {{ nested }}
    {% endfor %}
    {{ form.add_tag }}
    <br>
    {{ form.status.label }}<br>
    {{ form.status }}
    <br>
    {{ form.submit() }}

</form>
{% endblock %}
