{% extends "base.html" %}

{% block content %}
<div>
  <form method="POST" action="" novalidate class="form">
    {{ form.hidden_tag() }}

      {{ form.title.label(class_="form-label") }}
      {{ form.title(class_="form-control") }}

      {{ form.slug.label(class_="form-label") }}
      {% if edit %}
        {{ form.slug(disabled=True, class_="form-control") }}
      {% else %}
        {{ form.slug(class_="form-control") }}
      {% endif %}
      
      {{ form.description.label(class_="form-label") }}
      {{ form.description(class_="form-control") }}
      <fieldset>
        <legend>Recipe Status</legend>
      {% for subfield in form.status %}
        {{ subfield(class_="form-check-input") }}
        {{ subfield.label(class_="form-check-label") }}
      {% endfor %}
      </fieldset>
    

    <!-- ingredients  -->
    {{ form.ingredients.label(class_="form-label") }}
    {% for i in form.ingredients %}
      {{ i(class_="form-control") }}
    {% endfor %}
    {{ form.add_ingredient(class_="btn") }}

    <!-- Steps  -->
    {{ form.steps.label(class_="form-label") }}
    {% for s in form.steps %}
      {{ s(class_="form-control") }}
    {% endfor %}
    {{ form.add_step(class_="btn") }}

    <!-- Tags -->
    {{ form.tags.label(class_="form-label") }}
    {% for t in form.tags %}
      {{ t(class_="form-control") }}
    {% endfor %}
    {{ form.add_tag(class_="btn") }}

    {{ form.submit(class_="btn") }}

  </form>
  <div style="height: 500px;"></div>
</div>
{% endblock %}