<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <nav>
      <div>
        <h1>{{ title }}</h1>
        
        {% if current_user.is_authenticated %}
          <a href="{{ url_for('auth_bp.logout') }}">Logout</a>
        {% else %}
          <a href="{{ url_for('auth_bp.login') }}">Login</a>
          <a href="{{ url_for('auth_bp.register') }}">Admin Register</a>
        {% endif %}
      </div>
    </nav>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>