<!doctype html>
<html>

  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.1.6/js/dataTables.js"></script>
  </head>

  <body>
    <header class="header">
      <h1>{{ title }}</h1>
      <nav>
        {% if request.url_rule.endpoint != "admin_bp.index" %}
        <a class="btn" href="{{ url_for('admin_bp.index')}}">Dashboard</a>
        {% else %}
        <a class="btn" href="{{ url_for('recipe_bp.index')}}">Cookbook Home</a>
        <a class="btn" href="{{ url_for('admin_bp.download')}}">Download</a>
        {% endif %}
        <a class="btn" href="{{ url_for('admin_bp.recipe') }}">New Recipe</a>
        {% if current_user.is_authenticated %}
        <a class="btn" href="{{ url_for('auth_bp.logout') }}">Logout</a>
        {% else %}
        <a class="btn" href="{{ url_for('auth_bp.login') }}">Login</a>
        {% endif %}
      </nav>
    </header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="message">
      <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>

</html>