<!doctype html>
<html>

  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block datatables %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
  </head>

  <body>
    <header class="header">
      <h1>{{ title }}</h1>
      <nav>
        {% if request.url_rule.endpoint != "admin_bp.index" %}
        <a class="btn" href="{{ url_for('admin_bp.index')}}">Dashboard</a>
        {% else %}
        <a class="btn" href="{{ url_for('admin_bp.backup')}}">Upload</a>
        <a class="btn" href="{{ url_for('admin_bp.download')}}">Download</a>
        {% endif %}
        <a class="btn" href="{{ url_for('admin_bp.new') }}">New Recipe</a>
        {% if current_user.is_authenticated %}
        <a class="btn" href="{{ url_for('auth_bp.logout') }}">Logout</a>
        {% else %}
        <a class="btn" href="{{ url_for('auth_bp.login') }}">Login</a>
        {% endif %}
      </nav>
    </header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="message">
      <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>

</html>