{% extends "cookbook_base.html" %}

{% block content %}
<div class="paper">
    <div class="card-container">
        <div class="recipe-full">
            <div class="recipe-full-title">
                <h1>{{ recipe.title }}</h1>
                <a href="{{ url_for('recipe_bp.homepage') }}" style="font-size: xx-large;" class="no-print" aria-hidden="true">&times;</a>
            </div>
            <p>{{ recipe.description }}</p>
            <div class="recipe-content">
            <ul>
                {% for i in recipe.ingredients %}
                <li>{{ i }}</li>
                {% endfor %}
            </ul>
                {% for s in recipe.steps %}
                <p>{{ s }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}