body {
    font-family: 'Nimbus Mono PS', 'Courier New', monospace;
    font-weight: normal;
    --ink: #27273d;
    background-image: url(Poliigon_WoodVeneerOak_7760_BaseColor.jpg);

    color: var(--ink);
}

.paper {
    background-color: antiquewhite;
    width: 800px;
    margin: 0 auto;
    border-top: 14px dotted #cda889;
}

.header {
    text-align: center;
    padding: 1rem 0 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 10px;
    margin: 0 auto;
}

.recipe-card {
    border-bottom: 2px dotted var(--ink);
    margin: 4px 10px 0 20px;
    display: flex;
    justify-content: space-between;
}

.recipe-full {
    margin: 10px 80px;
    font-size: large;
}

.recipe-full-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted var(--ink);
}

.recipe-full-title h1 {
    margin-bottom: 0px;
}

.recipe-full-title a {
    text-decoration: none;
}

.recipe-content {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
}

.recipe-title,
.recipe-tags {
    text-decoration: none;
    color: var(--ink);
    margin: 5px;
    transition: 80ms ease;
    display: inline-block;
}

.recipe-title:hover,
.recipe-tags:hover {
    font-style: italic;
}

.recipe-title {
    font-weight: bold;
    font-size: large;
}

@media (max-width: 812px) {
    .card-container,
    .paper {
        width: 100%;
    }
    .recipe-tags {
        display: none;
    }
    .recipe-full {
        margin: 10px 20px;
        font-size: medium;
    }
}