/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }


body {
    font-family: system-ui, sans-serif;
    font-weight: normal;
    --burnt-umber:#6d120b;
    --redwood: #b02a29;
    --macadamia: #f6f0d8;
    --offwhite: #fffef9;
    --blush: #ffe6eb;
    --blue: #113047;
    --light-blue: #7390b9;

    background-color: #fffef9;
}

.container-desktop {
    display: flex;
    justify-content: center;
}

table.display {
    max-width: 1000px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--redwood);
    margin-bottom: 50px;
    padding: 1rem;
    background-color: #ffe6eb;
    font-family: monospace;
}

.header h1 {
    color: var(--redwood);
}

.card {
    padding: 1rem 1rem .5rem;
    /* border: 5px dashed var(--macadamia); */
    background-color: #f0f0ff;
    margin: 1rem .5rem;
}

.card-title {
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
    padding-bottom: 8px;
}

.card-title a {
    color: var(--blue);
    text-decoration: none;
}

.card-details {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

.status--pending.card-details {
    justify-content: flex-end;
}

.card-status {
    font-size: 14px;
    font-weight: 900;
    color: var(--blue);
    font-family: monospace;
}

.status--pending .card-status {
    color: var(--redwood);
}

nav a {
    margin-left: 4px;
    display: inline-block;
    color: var(--redwood);
}

a {
    color: var(--blue);
}

.btn {
    border: 2px solid var(--redwood);
    color: var(--redwood);
    padding: 2px 6px;
    text-decoration: none;;
}

.btn:hover {
    color: var(--offwhite);
    background-color: var(--blue);
    border: 2px solid var(--blue);
}

.tag {
    background-color: var(--blue);
    border-radius: 9999px;
    display: inline-block;
    color: var(--offwhite);
    padding: 1px 10px;
    font-size: 14px;
}

.message {
    display: flex;
    flex-direction: column;
    color: var(--redwood);
    font-weight: 500;
    align-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

fieldset {
    margin: 10px 0;
    border: 1px solid var(--light-blue);
}

.form label,
.form legend {
    margin-top: 10px;
    font-weight: 700;
}

.form input[type="text"],
.form input[type="password"] {
    margin-bottom: 5px;
    background: var(--offwhite);
    border: 1px solid var(--light-blue);
    padding: 5px 10px;
}

.form input[type="text"]:focus {
    outline-color: var(--blue);
}

.form input[type="submit"] {
    background: var(--blush);
    margin-bottom: 5px;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background: var(--blue);
}

@media (min-width: 768px) {
    .container-mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .container-desktop {
        display: none;
    }
}
